# Preprocessing

In [34]:
import pandas as pd

path = "../data/"
data = pd.read_csv(path+"raw/Pakistan Largest Ecommerce Dataset.csv", low_memory=False)

In [36]:
data.head().iloc[:,:11]

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,discount_amount
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,0.0
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,0.0
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,0.0
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,300.0
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,0.0

In [37]:
data.head().iloc[:,11:]

,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,cod,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,cod,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,cod,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,cod,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,cod,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN

# Initial Observations

In [38]:
print(data.shape)

cols = list(data.columns)
print(cols[:13])
print(cols[13:])

(1048575, 26)
['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered', 'grand_total', 'increment_id', 'category_name_1', 'sales_commission_code', 'discount_amount', 'payment_method', 'Working Date']
['BI Status', ' MV ', 'Year', 'Month', 'Customer Since', 'M-Y', 'FY', 'Customer ID', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']

# Data Cleaning
Null Values<br>
Duplicate Values<br>
False Data Types<br>
False Values

## Null Values
### Columns

In [39]:
print("Percent missing values:")
((data.isna().sum() / data.shape[0]) * 100).astype(int)

Percent missing values:

item_id                   44
status                    44
created_at                44
sku                       44
price                     44
qty_ordered               44
grand_total               44
increment_id              44
category_name_1           44
sales_commission_code     57
discount_amount           44
payment_method            44
Working Date              44
BI Status                 44
 MV                       44
Year                      44
Month                     44
Customer Since            44
M-Y                       44
FY                        44
Customer ID               44
Unnamed: 21              100
Unnamed: 22              100
Unnamed: 23              100
Unnamed: 24              100
Unnamed: 25              100
dtype: int64

In [40]:
data.drop(["Unnamed: 21", "Unnamed: 22", "Unnamed: 23", "Unnamed: 24", "Unnamed: 25"], axis=1, inplace=True)

print(data.shape)
print("Percent missing values:")
((data.isna().sum() / data.shape[0]) * 100)

(1048575, 21)
Percent missing values:

item_id                  44.255394
status                   44.256825
created_at               44.255394
sku                      44.257302
price                    44.255394
qty_ordered              44.255394
grand_total              44.255394
increment_id             44.255394
category_name_1          44.271034
sales_commission_code    57.337720
discount_amount          44.255394
payment_method           44.255394
Working Date             44.255394
BI Status                44.255394
 MV                      44.255394
Year                     44.255394
Month                    44.255394
Customer Since           44.256443
M-Y                      44.255394
FY                       44.255394
Customer ID              44.256443
dtype: float64

## Rows

In [41]:
data.dropna(axis=0, how="all", inplace=True)

print(data.shape)
print("Percent missing values:")
((data.isna().sum() / data.shape[0]) * 100)

(584524, 21)
Percent missing values:

item_id                   0.000000
status                    0.002566
created_at                0.000000
sku                       0.003422
price                     0.000000
qty_ordered               0.000000
grand_total               0.000000
increment_id              0.000000
category_name_1           0.028057
sales_commission_code    23.468326
discount_amount           0.000000
payment_method            0.000000
Working Date              0.000000
BI Status                 0.000000
 MV                       0.000000
Year                      0.000000
Month                     0.000000
Customer Since            0.001882
M-Y                       0.000000
FY                        0.000000
Customer ID               0.001882
dtype: float64

In [42]:
data.dropna(axis=0, subset=["status", "sku", "category_name_1", "Customer Since", "Customer ID"], inplace=True)

print(data.shape)
print("Percent missing values:")
((data.isna().sum() / data.shape[0]) * 100)

(584314, 21)
Percent missing values:

item_id                   0.000000
status                    0.000000
created_at                0.000000
sku                       0.000000
price                     0.000000
qty_ordered               0.000000
grand_total               0.000000
increment_id              0.000000
category_name_1           0.000000
sales_commission_code    23.444244
discount_amount           0.000000
payment_method            0.000000
Working Date              0.000000
BI Status                 0.000000
 MV                       0.000000
Year                      0.000000
Month                     0.000000
Customer Since            0.000000
M-Y                       0.000000
FY                        0.000000
Customer ID               0.000000
dtype: float64

### Recommendation:
`sales_commission_code` needs transformation from current unique values to True False value column

## Duplicate Values

In [43]:
data.duplicated().sum()

np.int64(0)

## False Data Types

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 584314 entries, 0 to 584523
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584314 non-null  float64
 1   status                 584314 non-null  object
 2   created_at             584314 non-null  object
 3   sku                    584314 non-null  object
 4   price                  584314 non-null  float64
 5   qty_ordered            584314 non-null  float64
 6   grand_total            584314 non-null  float64
 7   increment_id           584314 non-null  object
 8   category_name_1        584314 non-null  object
 9   sales_commission_code  447326 non-null  object
 10  discount_amount        584314 non-null  float64
 11  payment_method         584314 non-null  object
 12  Working Date           584314 non-null  object
 13  BI Status              584314 non-null  object
 14   MV                    584314 non-null  object
 15  Year                   584314 non-null  float64
 16  Month                  584314 non-null  float64
 17  Customer Since         584314 non-null  object
 18  M-Y                    584314 non-null  object
 19  FY                     584314 non-null  object
 20  Customer ID            584314 non-null  float64
dtypes: float64(8), object(13)
memory usage: 98.1+ MB

In [45]:
print("Are [Customer Since] and [M-Y] columns same or not?")
print((data["Customer Since"].str.split("-").str[0] == data["M-Y"].str.split("-").str[1]).sum())
print((data["Customer Since"].str.split("-").str[1] == data["M-Y"].str.split("-").str[0]).sum())
print(data.shape[0])

Are [Customer Since] and [M-Y] columns same or not?
446735
320718
584314

In [46]:
print(data[" MV "].dtype)
try:
    data[" MV "].astype(int)
    print("Object type is fine")
except:
    print("Object type is faulty")

print(data["increment_id"].dtype)
try:
    data["increment_id"].astype(int)
    print("Object type is fine")
except:
    print("Object type is faulty")

object
Object type is faulty
object
Object type is faulty

In [47]:
def correct_data_types(df):
    df["item_id"] = df["item_id"].astype(int)
    df["created_at"] = pd.to_datetime(df["created_at"], format="%m/%d/%Y")
    df["Working Date"] = pd.to_datetime(df["Working Date"], format="%m/%d/%Y")
    df["Year"] = df["Year"].astype(int)
    df["Month"] = df["Month"].astype(int)
    df["Customer Since"] = pd.to_datetime(data["Customer Since"], format="%Y-%m")
    df["M-Y"] = pd.to_datetime(data["M-Y"], format="%m-%Y")
    df["Customer ID"] = df["Customer ID"].astype(int)

    return df

In [48]:
data = correct_data_types(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 584314 entries, 0 to 584523
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584314 non-null  int64
 1   status                 584314 non-null  object
 2   created_at             584314 non-null  datetime64[ns]
 3   sku                    584314 non-null  object
 4   price                  584314 non-null  float64
 5   qty_ordered            584314 non-null  float64
 6   grand_total            584314 non-null  float64
 7   increment_id           584314 non-null  object
 8   category_name_1        584314 non-null  object
 9   sales_commission_code  447326 non-null  object
 10  discount_amount        584314 non-null  float64
 11  payment_method         584314 non-null  object
 12  Working Date           584314 non-null  datetime64[ns]
 13  BI Status              584314 non-null  object
 14   MV                    584314 non-null  object
 15  Year                   584314 non-null  int64
 16  Month                  584314 non-null  int64
 17  Customer Since         584314 non-null  datetime64[ns]
 18  M-Y                    584314 non-null  datetime64[ns]
 19  FY                     584314 non-null  object
 20  Customer ID            584314 non-null  int64
dtypes: datetime64[ns](4), float64(4), int64(4), object(9)
memory usage: 98.1+ MB

In [49]:
import re

def mv_dtype_clean_float(x):
    x = re.sub("[^0-9]", "", str(x).strip())
    if x == "":
        return 0.0
    else:
        return float(x)
    
def mv_dtype_clean_int(x):
    x = re.sub("[^0-9]", "", str(x).strip())
    if x == "":
        return 0.0
    else:
        return int(x)
    
data[" MV "] = data[" MV "].apply(lambda x:  mv_dtype_clean_float(x))
data["increment_id"] = data["increment_id"].apply(lambda x:  mv_dtype_clean_int(x))

In [50]:
print(data[" MV "].dtype)
try:
    data[" MV "].astype(int)
    print("Object type is fine")
except:
    print("Object type is faulty")

print(data["increment_id"].dtype)
try:
    data["increment_id"].astype(float)
    print("Object type is fine")
except:
    print("Object type is faulty")

float64
Object type is fine
int64
Object type is fine

# False Values

## Identify

In [51]:
for col in data.columns:
    print(col, "|", data[col].unique().shape[0])

item_id | 584314
status | 16
created_at | 789
sku | 84869
price | 9119
qty_ordered | 73
grand_total | 36828
increment_id | 408656
category_name_1 | 16
sales_commission_code | 7226
discount_amount | 28058
payment_method | 18
Working Date | 789
BI Status | 4
 MV  | 9719
Year | 3
Month | 12
Customer Since | 26
M-Y | 26
FY | 3
Customer ID | 115304

Columns to consider for unique false values:<br>
`sku`, `status`, `category_name_1`, `sales_commission_code`, `payment_method`, `BI Status`, `Customer ID`

In [52]:
print(list(data["status"].unique()))
print(list(data["category_name_1"].unique()))
print(list(data["payment_method"].unique()))
print(list(data["BI Status"].unique()))

['complete', 'canceled', 'order_refunded', 'received', 'refund', 'closed', 'fraud', 'holded', 'exchange', 'pending_paypal', 'paid', '\\N', 'cod', 'pending', 'processing', 'payment_review']
["Women's Fashion", 'Beauty & Grooming', 'Soghaat', 'Mobiles & Tablets', 'Appliances', 'Home & Living', "Men's Fashion", 'Kids & Baby', '\\N', 'Others', 'Entertainment', 'Computing', 'Superstore', 'Health & Sports', 'Books', 'School & Education']
['cod', 'ublcreditcard', 'mygateway', 'customercredit', 'cashatdoorstep', 'mcblite', 'internetbanking', 'marketingexpense', 'productcredit', 'financesettlement', 'Payaxis', 'jazzvoucher', 'jazzwallet', 'Easypay', 'Easypay_MA', 'easypay_voucher', 'bankalfalah', 'apg']
['#REF!', 'Gross', 'Net', 'Valid']

In [53]:
def get_top_unique(df, col, num_results):
    return df.sort_values(col)[col].iloc[:num_results]

def get_less_char_values(df, col, plus):
    """
        df: pd.DataFrame
        col: column of pd.DataFrame
        plus: number of characters more than minimum lengthed value
    """
    temp = df[col].apply(lambda x: len(str(x)))
    min = temp.min()
    temp = temp.apply(lambda x: True if (x < (min+plus)) else False)
    temp = df[col][temp]
    return temp

def get_non_alphabetic(df, col):
    temp = df[col].apply(lambda x: str(x).isalnum()) == False
    return df[temp][col]

In [54]:
get_non_alphabetic(pd.DataFrame(get_less_char_values(data, "sales_commission_code", 2), columns=["sales_commission_code"]), "sales_commission_code")

0         \N
1         \N
2         \N
4         \N
5         \N
          ..
424825    \N
424826    \N
424827    \N
424828    \N
450910    C_
Name: sales_commission_code, Length: 338989, dtype: object

In [55]:
get_less_char_values(data, "Customer ID", 2)

0          1
1          2
2          3
3          4
4          5
          ..
584121     4
584224     4
584225     4
584227     4
584315    20
Name: Customer ID, Length: 15434, dtype: int64

In [56]:
print((data[data["sales_commission_code"] == "\\N"].shape[0] / data.shape[0]) * 100)

58.01384187269174

In [57]:
print(get_non_alphabetic(data, "sku").shape[0])

337253

## Correct

In [58]:
import re

data["status"] = data["status"].replace({"order_refunded": "refunded", "refund": "refunded"})
data["payment_method"] = data["payment_method"].replace({"Payaxis": "payaxis", "Easypay": "easypay", "Easypay_MA": "easypay_ma"})
data["sales_commission_code"] = data["sales_commission_code"].replace({"\\N": None})

data = data[data["status"] != "\\N"]
data = data[data["category_name_1"] != "\\N"]
data = data[data["BI Status"] != "#REF!"]

data["sku"] = data["sku"].apply(lambda x: re.sub("[^A-Za-z0-9]","",x))

In [59]:
print(list(data["status"].unique()))
print(list(data["category_name_1"].unique()))
print(list(data["payment_method"].unique()))
print(list(data["BI Status"].unique()))
print(get_non_alphabetic(data, "sku").shape[0])

['canceled', 'complete', 'refunded', 'received', 'closed', 'fraud', 'holded', 'exchange', 'pending_paypal', 'paid', 'cod', 'pending', 'processing', 'payment_review']
['Beauty & Grooming', "Women's Fashion", 'Soghaat', 'Mobiles & Tablets', 'Appliances', 'Home & Living', "Men's Fashion", 'Kids & Baby', 'Others', 'Entertainment', 'Computing', 'Superstore', 'Health & Sports', 'Books', 'School & Education']
['cod', 'ublcreditcard', 'mygateway', 'customercredit', 'cashatdoorstep', 'mcblite', 'internetbanking', 'productcredit', 'financesettlement', 'payaxis', 'marketingexpense', 'jazzvoucher', 'jazzwallet', 'easypay', 'easypay_ma', 'easypay_voucher', 'bankalfalah', 'apg']
['Gross', 'Net', 'Valid']
0

# Transformation

In [60]:
data["sales_commission_code"]

1                None
2                None
3         R-FSD-52352
4                None
5                None
             ...
584519            NaN
584520            NaN
584521            NaN
584522            NaN
584523            NaN
Name: sales_commission_code, Length: 576480, dtype: object

In [61]:
data["sales_commission_code"] = data["sales_commission_code"].isna() == False

data["sales_commission_code"]

1         False
2         False
3          True
4         False
5         False
          ...
584519    False
584520    False
584521    False
584522    False
584523    False
Name: sales_commission_code, Length: 576480, dtype: bool

# Export

In [62]:
data.head().iloc[:, :10]

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code
1,211133,canceled,2016-07-01,kccBuy2FreyAirFreshenerGet1KasualBodySprayFree,240.0,1.0,240.0,100147444,Beauty & Grooming,False
2,211134,canceled,2016-07-01,EgoUP0017999MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,False
3,211135,complete,2016-07-01,kcckronedeal,360.0,1.0,60.0,100147446,Beauty & Grooming,True
4,211136,refunded,2016-07-01,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,False
5,211137,canceled,2016-07-01,UKNamkinoAllInOne200Gms,80.0,1.0,80.0,100147448,Soghaat,False

In [63]:
data.head().iloc[:, 10:]

,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
1,0.0,cod,2016-07-01,Gross,240.0,2016,7,2016-07-01,2016-07-01,FY17,2
2,0.0,cod,2016-07-01,Gross,2450.0,2016,7,2016-07-01,2016-07-01,FY17,3
3,300.0,cod,2016-07-01,Net,360.0,2016,7,2016-07-01,2016-07-01,FY17,4
4,0.0,cod,2016-07-01,Valid,1110.0,2016,7,2016-07-01,2016-07-01,FY17,5
5,0.0,cod,2016-07-01,Gross,80.0,2016,7,2016-07-01,2016-07-01,FY17,6

In [64]:
# data.to_csv(path+"processed/data.csv", index=False)